.title{
    align-items: center;
    display:flex;
    background: radial-gradient(#fff,#FFD400);
    
}
.title .text{
    padding-left: 20px;
}
body{
    font-family:'Poppins',sans-serif;
}

.button {
    background-color:yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }